@import "./mixins";

.container {
  width: 100%;
  margin: 0 auto;

  @include mobile {
    min-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
  @include tablet {
    min-width: 768px;
    padding-left: 25px;
    padding-right: 25px;
  }
  @include desktop {
    width: 1280px;
  }
}
