@import "../utils/container.scss";
@import "../utils/mixins";

.table__wrapper {
  overflow-y: auto;
}

.table {
  width: 100%;
  // border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  text-align: left;

  th,
  td {
    padding: 15px;
  }
  tr {
    transition: all 0.5s;
  }

  th {
    background: #0a57d0ad;
    color: #f2f2f2;
  }
  tr:nth-of-type(odd) {
    background: #0349ff26;
  }
}
.table tr:hover,
.table tr:focus {
  color: #f2f2f2;
  background: #0a57d0ad;
}
